@tailwind base;
@tailwind components;
@tailwind utilities;
/* Import Google Font in your CSS file */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 840px) {
  .news-card {
    display: block;
  }
  .newscard-image {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .live-news-main {
    width: 250px;
  }
  .live-news-main .live-cards-h3 h3 {
    font-size: 12px;
  }
  .live-news-main p {
    font-size: 14px;
  }
}
